.b{
    border:1px solid $border-color;
}
.bt{
    border-top:1px solid $border-color; 
}
.br{
    border-right:1px solid $border-color;
}
.bb{
    border-bottom:1px solid $border-color;
}
.bl{
    border-left:1px solid $border-color;
}
